:host {
    padding: 20px;
  
    .container {
      border-radius: 10px;
      border-radius: 24px;
      background: linear-gradient(145deg, #fff, #fff);
      box-shadow:  29px 29px 43px #181819,
                   -29px -29px 43px #363839;
      padding: 20px;
      width: 100%;
      
      form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
  
        div{
          margin-bottom: 10px;
          margin-right: 5px;
    
          label {
            text-align: center;
            color: #a58c8c;
            font-size: .6rem;
            font-weight: 500;
            margin-bottom: 3px;
          }
    
          input {
            border: 1px solid black;
            border-radius: 3px;
            outline: none;
            padding: 3px;
            font-size: .7rem;
            width: 100%;
          }
    
        }
      }
  
      button {
        border: 0;
        border-radius: 4px;
        cursor: pointer;
        background-color: #0e8ce4;
        padding: 5px 10px;
        font-weight: 700;
        color: #272829;
        width: 200px;
        align-self: flex-end;
  
        &:hover {
          background-color: #FFF6E0;
        }
      }
    }
  
    table {
      margin-top: 40px;
      width: 100%;
      text-align: center;
  
      th {
        color: #61677A;
        font-size: .7rem;
      }
  
      th, td {
        padding: 6px 0px;
        border-top: 1px solid ;
      }
  
      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }