<header class="header">

	<!-- Logo -->
  <div class="logo_container">
    <div class="logo"><a href="#">Elias Geradores</a></div>
  </div>	
	<!-- Main Navigation -->

	<nav class="main_nav">
		<div class="container">
			<div class="row">
				<div class="col">
					<!-- Main Nav Menu -->
					<div class="main_nav_menu ml-auto">
						<ul class="standard_dropdown main_nav_dropdown">
							<li><a href="/empresas">Empresas<i class="fas fa-chevron-down"></i></a></li>
							<li><a href="/grug">Grupo Geradores<i class="fas fa-chevron-down"></i></a></li>
							<li><a href="/produtos">Produtos<i class="fas fa-chevron-down"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
		
</header>