<div class="container">
    <form>
      <div>
        <label>ID Empresa</label>
        <input style="background-color: bisque;" type="text" disabled [(ngModel)]="idEmpresa" name="idEmpresa">
      </div>
      
      <div>
        <label>Razão Social</label>
        <input type="text" [(ngModel)]="this.razaoSocial" name="razaoSocial">
      </div>
      
      <div>
        <label>Nome Fantasia</label>
        <input type="text" [(ngModel)]="nomeFantasia" name="nomeFantasia">
      </div>

      <div>
        <label>Telefone</label>
        <input type="tel" maxlength="15" [(ngModel)]="telefone" name="telefone"/>
      </div>

      <div>
        <label>E-mail</label>
        <input style="width: auto;" type="email" [(ngModel)]="email" name="email">
      </div>

      <div>
        <label>CNPJ</label>
        <input type="text" maxlength="16" [(ngModel)]="cnpj" name="cnpj">
      </div>

      <div>
        <label>Site</label>
        <input type="text" [(ngModel)]="site" name="site">
      </div>    
      
      <button (click)="buttonClick()"> 
        {{ idEmpresa ? 'Salvar' : 'Criar' }}  
      </button>
    </form>

    <table>

        <thead>
            <th> ID Empresa </th>
            <th> Razão Social </th>
            <th> Nome Fantasia </th>
            <th> Telefone </th>
            <th> E-mail </th>
            <th> CNPJ </th>
            <th> Site </th>
            <th> Data Criação </th>
            <th> Data Atualização </th>
        </thead>
      
      <tbody>
        <tr *ngFor="let empresa of empresas$ | async">
          <td> {{ empresa.idEmpresa }} </td>
          <td> {{ empresa.razaoSocial }} </td>
          <td> {{ empresa.nomeFantasia }} </td>
          <td> {{ empresa.telefone }} </td>
          <td> {{ empresa.email }} </td>
          <td> {{ empresa.cnpj }} </td>
          <td> {{ empresa.site }} </td>
          <td> {{ empresa.dataCriacao }} </td>
          <td> {{ empresa.dataAtualizacao }} </td>
          <td> 
            <span  (click)="preencherCampos(empresa)" > alterar </span> 
            <span style="margin-left: 15px;" (click)="remover(empresa)" > remover </span> 
          </td>
        </tr>
  
      </tbody>
    </table>
</div>